<!-- *ngIf="!cargando" -->
<div class="row"  >
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Medico</h4>
                <h6 class="card-subtitle">Informacion</h6>

                <form class="form p-t-20" [formGroup]="medicoForm" (submit)="guardarMedico()">
                    
                    <div class="row mb-4" *ngIf="medicoSeleccionado">
                       <div class="col text-center">
                            <div class="">
                                <img [src]="medicoSeleccionado.img | imagen:'medicos'" class="w200" >
                            </div>
                        </div>
                    </div>
                    

                    <div class="form-group">
                        <label for="exampleInputuname">Nombre</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input formControlName="nombre" type="text" class="form-control" placeholder="Nombre del Medico">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputEmail1">Hospital</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-hospital-o"></i></div>
                            <select formControlName="hospital" class="form-control">
                                <option value="" > seleccione una opcion</option>
                                <option  *ngFor="let hospital of hospitales" [value]="hospital._id" > {{ hospital.nombre }} </option>
                            </select>
                        </div>
                    </div>
                    <button type="submit" [disabled]="medicoForm.invalid" class="btn btn-block btn-success waves-effect waves-light m-r-10"> <i class="fa fa-save"></i> Guardar</button>
                </form>
            </div>
        </div>
    </div>

    <div class="col-lg-6" *ngIf="hospitalSeleccionado">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Hospital</h4>
                <h6 class="card-subtitle"> {{ hospitalSeleccionado.nombre }} </h6>
                
                <img [src]="hospitalSeleccionado.img | imagen:'hospitales'" class="img-avatar mb-5" />
            </div>
        </div>
    </div>
</div>
<!-- 
<div *ngIf="cargando" class="row  animated fadeIn fast">
    <div class="col-12">
        <div class="text-center">
            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">Cargando...</h4>
                <i class="fa fa-spin fa-refresh fa-2x"></i>
                <p class="mb-0">Por favor espere.</p>
            </div>
        </div>
    </div>
</div> -->
